/*
====================================================================================================================================================================================
=================================================================== DEVELOPER: RITIJ PAUDEL            =============================================================================
=================================================================== DEVELOP FOR: TSP GRIP 2021         =============================================================================
=================================================================== TASK: PAYMENT GATEWAY INTEGRATION  =============================================================================
====================================================================================================================================================================================
*/

/******************* Image css *********************/


div.polaroid {
  width: ;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}

/******************* slide image css *********************/


/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 100%;
}